body {
  margin: 0px;
}
ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: #e5e7eb;
}
h1 {
  font-size: 48px;
  font-weight: bolder;
}
h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}
.section {
  display: flex;
  flex-direction: column;
  padding: 10px 200px 100px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
#first-section {
  background-color: #1f2937;
  color: #e5e7eb;
  gap: 100px;
}
.header {
  display: flex;
  justify-content: space-between;
}
#first-section .content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.img-placeholder {
  width: 500px;
  height: 200px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
#logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 800;
}
#signup-btn {
  padding: 5px 25px;
  background-color: rgb(26, 141, 194);
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

.ilustration-placeholder {
  height: 150px;
  width: 150px;
  border: 5px solid rgb(26, 141, 194);
  border-radius: 10px;
}

#second-section-content {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#second-section {
  align-items: center;
  text-align: center;
  gap: 30px;
  color: rgb(105, 105, 105);
  padding: 30px 250px;
}

#third-section {
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
  background-color: #e5e7eb;
  padding: 80px 250px;
}
.sign {
  align-self: flex-end;
  font-size: 24px;
}
